
<main>

    <!-- hero area start -->
    <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
        <div class="hero__shape">
            <img class="circle" src="~/img/icon/hero/hero-circle.png" alt="circle">
            <img class="circle-2" src="~/img/icon/hero/hero-circle-2.png" alt="circle">
            <img class="square" src="~/img/icon/hero/hero-square.png" alt="circle">
            <img class="square-2" src="~/img/icon/hero/hero-square-2.png" alt="circle">
            <img class="dot" src="~/img/icon/hero/hero-dot.png" alt="circle">
            <img class="triangle" src="~/img/icon/hero/hero-triangle.png" alt="circle">
        </div>

        <!-- product area start -->
        <div class="product__area pt-105 pb-110 grey-bg-2 offset-lg-2">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section__title-wrapper text-center mb-60">
                            <h2 class="section__title">Tadilat ve Dekorasyon Hizmetleri</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="AhsapMerdiven" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/ahsapmerdiven.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="AhsapMerdiven" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="AhsapMerdiven" asp-controller="TadilatVeDekorasyon" target="_blank">Ahşap Merdiven İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="AlciIsleri" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/alciisleri.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="AlciIsleri" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="AlciIsleri" asp-controller="TadilatVeDekorasyon" target="_blank">Alçı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="AlcipanIsleri" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/alcipanisleri.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="AlcipanIsleri" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="AlcipanIsleri" asp-controller="TadilatVeDekorasyon" target="_blank">Alçıpan İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="AnahtarTeslimInsaaat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/anahtartesliminsaat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="AnahtarTeslimInsaaat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="AnahtarTeslimInsaaat" asp-controller="TadilatVeDekorasyon" target="_blank">Anahtar Teslim İnşaat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="AnahtarTeslimTadilat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/anahtarteslimtadilat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="AnahtarTeslimTadilat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="AnahtarTeslimTadilat" asp-controller="TadilatVeDekorasyon" target="_blank">Anahtar Teslim Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="BahceBakimi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/bahcebakimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="BahceBakimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="BahceBakimi" asp-controller="TadilatVeDekorasyon" target="_blank">Bahçe Bakımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="BalkonFilesi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/balkonfilesi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="BalkonFilesi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="BalkonFilesi" asp-controller="TadilatVeDekorasyon" target="_blank">Balkon Filesi İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="BanyoTadilat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/banyotadilat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="BanyoTadilat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="BanyoTadilat" asp-controller="TadilatVeDekorasyon" target="_blank">Banyo Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="BinaGuclendirme" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/binaguclendirme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="BinaGuclendirme" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="BinaGuclendirme" asp-controller="TadilatVeDekorasyon" target="_blank">Bina Güçlendirme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="Mantolama" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/binamantolama.jpeg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="Mantolama" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="Mantolama" asp-controller="TadilatVeDekorasyon" target="_blank">Bina Mantolama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="BoyaBadana" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/boyabadana.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="BoyaBadana" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="BoyaBadana" asp-controller="TadilatVeDekorasyon" target="_blank">Boya-Badana İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="CamBalkon" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/cambalkon.jpeg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="CamBalkon" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="CamBalkon" asp-controller="TadilatVeDekorasyon" target="_blank">Cam Balkon</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="CatiTadilati" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/catitadilati.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="CatiTadilati" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="CatiTadilati" asp-controller="TadilatVeDekorasyon" target="_blank">Çatı Tadilatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="CelikEvYapimi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/celikevyapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="CelikEvYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="CelikEvYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Çelik Ev Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="CelikKapi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/celikkapi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="CelikKapi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="CelikKapi" asp-controller="TadilatVeDekorasyon" target="_blank">Çelik Kapı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="DogalgazTesisatiVeProjesi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/dogalgazprojesivetesisati.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="DogalgazTesisatiVeProjesi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="DogalgazTesisatiVeProjesi" asp-controller="TadilatVeDekorasyon" target="_blank">Doğalgaz Tesisatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="DemirKaynak" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/demirkaynak.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="DemirKaynak" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="DemirKaynak" asp-controller="TadilatVeDekorasyon" target="_blank">Demir Kaynak</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="DepremTesti" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/depremtesti.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="DepremTesti" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="DepremTesti" asp-controller="TadilatVeDekorasyon" target="_blank">Deprem Testi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="DolapYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/dolapyapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="DolapYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="DolapYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Dolap Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="Dusakabin" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/dusakabinisleri.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="Dusakabin" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="Dusakabin" asp-controller="TadilatVeDekorasyon" target="_blank">Duşakabin İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="DuvarKagidiIsleri" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/duvarkagidi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="DuvarKagidiIsleri" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="DuvarKagidiIsleri" asp-controller="TadilatVeDekorasyon" target="_blank">Duvar Kağıdı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="EpoksiZeminKaplama" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/epoksizeminkaplama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="EpoksiZeminKaplama" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="EpoksiZeminKaplama" asp-controller="TadilatVeDekorasyon" target="_blank">Epoksi Zemin Kaplama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="EvDekorasyon" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/evdekorasyon.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="EvDekorasyon" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="EvDekorasyon" asp-controller="TadilatVeDekorasyon" target="_blank">Ev Dekorasyon</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="EvTadilat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/evtadilat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="EvTadilat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="EvTadilat" asp-controller="TadilatVeDekorasyon" target="_blank">Ev Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="FayansDoseme" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/fayansdoseme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="FayansDoseme" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="FayansDoseme" asp-controller="TadilatVeDekorasyon" target="_blank">Fayans Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="GunesEnerjisi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/gunesenerjisi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="GunesEnerjisi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="GunesEnerjisi" asp-controller="TadilatVeDekorasyon" target="_blank">Güneş Enerjisi İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="HavuzYapimi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/havuzyapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="HavuzYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="HavuzYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Havuz Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="HazirRuloCim" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/hazirrulocim.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="HazirRuloCim" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="HazirRuloCim" asp-controller="TadilatVeDekorasyon" target="_blank">Hazır Rulo Çim</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="KabaInsaat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/kabainsaat.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="KabaInsaat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="KabaInsaat" asp-controller="TadilatVeDekorasyon" target="_blank">Kaba İnşaat İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="KapiPencereSinekligi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/kapipenceresinekligi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="KapiPencereSinekligi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="KapiPencereSinekligi" asp-controller="TadilatVeDekorasyon" target="_blank">Kapı-Pencere Sinekliği</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="KoltukDoseme" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/koltukdoseme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="KoltukDoseme" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="KoltukDoseme" asp-controller="TadilatVeDekorasyon" target="_blank">Koltuk Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="LaminatParkeDoseme" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/laminantparkedoseme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="LaminatParkeDoseme" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="LaminatParkeDoseme" asp-controller="TadilatVeDekorasyon" target="_blank">Laminant Parke Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MezarYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/mezaryapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MezarYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MezarYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Mezar Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MimariProjeCizimi" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/mimariprojecizimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MimariProjeCizimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MimariProjeCizimi" asp-controller="TadilatVeDekorasyon" target="_blank">Mimari Proje Çizimi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MobilyaBoyama" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/mobilyaboyama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MobilyaBoyama" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MobilyaBoyama" asp-controller="TadilatVeDekorasyon" target="_blank">Mobilya Boyama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MutfakDolabiYapimi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/mutfakdolabiimalati.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MutfakDolabiYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MutfakDolabiYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Mutfak Dolabı Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MutfakTadilat" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/mutfaktadilati.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MutfakTadilat" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MutfakTadilat" asp-controller="TadilatVeDekorasyon" target="_blank">Mutfak Tadilatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="MutfakTezgahi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/mutfaktezgahi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="MutfakTezgahi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="MutfakTezgahi" asp-controller="TadilatVeDekorasyon" target="_blank">Mutfak Tezgahı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="OtomatikKepenk" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/otomatikkepenk.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="OtomatikKepenk" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="OtomatikKepenk" asp-controller="TadilatVeDekorasyon" target="_blank">Otomatik Kepenk İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="OzelMobilyaYapimi" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/ozelmobilyayapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="OzelMobilyaYapimi" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="OzelMobilyaYapimi" asp-controller="TadilatVeDekorasyon" target="_blank">Özel Mobilya Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="Panjur" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/panjuryapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="Panjur" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="Panjur" asp-controller="TadilatVeDekorasyon" target="_blank">Panjur İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="ParkeSistreCila" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/parkesistrecila.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Parke Sistre Cila İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/parketasidoseme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Parke Taşı Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/prefabrikevyapimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Prefabrik Ev Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/pvckapipencere.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">PVC Kapı-Pencere</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/seramikdoseme.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Seramik Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/sesyalitimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Ses Yalıtımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/storperde.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Stor Perde İşlemleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/suyalitimi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Su Yalıtımı İşlemleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/supurgelikisleri.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Süpürgelik Montaj İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">
                                        <img src="~/img/Hizmetler/Tadilat/surgulukapi.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Sürgülü Kapı Yapımı</a>
                            </h3>
                        </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/telorgucit.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Tel Örgü-Çit</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank"></a>
                                    <img src="~/img/Hizmetler/Tadilat/tentebrandaisleri.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank">Tente-Branda Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

