
<main>

    <!-- hero area start -->
    <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
        <div class="hero__shape">
            <img class="circle" src="~/img/icon/hero/hero-circle.png" alt="circle">
            <img class="circle-2" src="~/img/icon/hero/hero-circle-2.png" alt="circle">
            <img class="square" src="~/img/icon/hero/hero-square.png" alt="circle">
            <img class="square-2" src="~/img/icon/hero/hero-square-2.png" alt="circle">
            <img class="dot" src="~/img/icon/hero/hero-dot.png" alt="circle">
            <img class="triangle" src="~/img/icon/hero/hero-triangle.png" alt="circle">
        </div>

        <!-- product area start -->
        <div class="product__area pt-105 pb-110 grey-bg-2 offset-lg-2">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="section__title-wrapper text-center mb-60">
                            <h2 class="section__title">Tadilat ve Dekorasyon Hizmetleri</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/apartmantemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Ahşap Merdiven İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/bosevtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Alçı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/camtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Alçıpan İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdehaliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Anahtar Teslim İnşaat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdeutu.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Anahtar Teslim Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Bahçe Bakımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/haliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Balkon Filesi İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/ilaclama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Banyo Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/insaatsonrasitemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Bina Güçlendirme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/apartmantemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Bina Mantolama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/isyeritemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Boya-Badana İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/koltukyikama.jpeg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Cam Balkon</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/kurutemizleme.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Çatı Tadilatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/mermercilalama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Çelik Ev Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/storperdetemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Çelik Kapı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yorganyikama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Doğalgaz Projesi ve Tesisatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/apartmantemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Demir Kaynak</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/bosevtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Deprem Testi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/camtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Dolap Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdehaliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Duşakabin İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdeutu.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Duvar Kağıdı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Epoksi Zemin Kaplama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/haliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Ev Dekorasyon</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/ilaclama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Ev Tadilat</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/insaatsonrasitemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Fayans Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/isyeritemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Güneş Enerjisi İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/koltukyikama.jpeg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Havuz Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/kurutemizleme.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Hazır Rulo Çim</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/mermercilalama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Kaba İnşaat İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/storperdetemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Kapı-Pencere Sinekliği</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yatakyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Koltuk Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yorganyikama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Laminant Parke Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/bosevtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mezar Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/camtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mimari Proje Çizimi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdehaliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mobilya Boyama</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdeutu.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mutfak Dolabı Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mutfak Tadilatı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yatakyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Mutfak Tezgahı İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/haliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Otomatik Kepenk İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/ilaclama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Özel Mobilya Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/insaatsonrasitemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Panjur İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/isyeritemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Parke Sistre Cila İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/koltukyikama.jpeg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Parke Taşı Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/kurutemizleme.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Prefabrik Ev Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/mermercilalama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">PVC Kapı-Pencere-Balkon İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/storperdetemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Seramik Döşeme</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yatakyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Ses Yalıtımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/yorganyikama.png" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Stor Perde İşlemleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/apartmantemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Su Yalıtımı İşlemleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/bosevtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Süpürgelik Montaj İşleri</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html">
                                        <img src="~/img/Hizmetler/Temizlik/camtemizlik.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Sürgülü Kapı Yapımı</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdehaliyikama.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Tel Örgü-Çit</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                        <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                            <div class="product__thumb">
                                <div class="product__thumb-inner fix w-img">
                                    <a href="product-details.html"></a>
                                    <img src="~/img/Hizmetler/Temizlik/evdeutu.jpg" alt="">
                                    </a>
                                </div>
                                <div class="product__thumb-btn transition-3">
                                    <a asp-action="" asp-controller="TadilatVeDekorasyon" target="_blank" class="m-btn m-btn-3">
                                        İlan Ver
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h3 class="product__title">
                                    <a href="product-details.html">Tente-Branda Tadilat Ve Dekorasyon</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

