@model BideryaMvcProject.Models.Ilanlar.Temizlik.KoltukTemizlikViewModel




<main>

    <!-- arkaplan şekil alanı başlangıcı -->
    <div class="bg-shape">
        <img src="~/img/shape/shape-1.png" alt="">
    </div>
    <!-- arkaplan şekil alanı sonu -->
    <!-- kayıt olma alanı başlangıcı -->
    <section class="signup__area po-rel-z1 pt-100 pb-145">
        <div class="sign__shape">
            <img class="man-1" src="~/img/icon/sign/man-3.png" alt="">
            <img class="man-2 man-22" src="~/img/icon/sign/man-2.png" alt="">
            <img class="circle" src="~/img/icon/sign/circle.png" alt="">
            <img class="zigzag" src="~/img/icon/sign/zigzag.png" alt="">
            <img class="dot" src="~/img/icon/sign/dot.png" alt="">
            <img class="bg" src="~/img/icon/sign/sign-up.png" alt="">
            <img class="flower" src="~/img/icon/sign/flower.png" alt="">
        </div>

    </section>

    <form>
        <ul class="items"></ul>
        <fieldset class="username enable">
            <div class="icon left"><i class="user"></i></div>
            <input type="text" name="username" placeholder="Username" />
            <div class="icon right button"><i class="arrow"></i></div>
        </fieldset>
        <fieldset class="email">
            <div class="icon left"><i class="letter"></i></div>
            <input type="mail" name="email" placeholder="Email" />
            <div class="icon right button"><i class="arrow"></i></div>
        </fieldset>
        <fieldset class="password">
            <div class="icon left"><i class="lock"></i></div>
            <input type="password" name="password" placeholder="Password" />
            <div class="icon right button"><i class="arrow"></i></div>
        </fieldset>
        <fieldset class="thanks">
            <div class="icon left"><i class="heart"></i></div>
            <p>Thanks for your time</p>
            <div class="icon right"><i class="heart"></i></div>
        </fieldset>
    </form>

</main>
