
<main>

    <!-- hero area start -->
    <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
        <div class="hero__shape">
            <img class="circle" src="~/img/icon/hero/hero-circle.png" alt="circle">
            <img class="circle-2" src="~/img/icon/hero/hero-circle-2.png" alt="circle">
            <img class="square" src="~/img/icon/hero/hero-square.png" alt="circle">
            <img class="square-2" src="~/img/icon/hero/hero-square-2.png" alt="circle">
            <img class="dot" src="~/img/icon/hero/hero-dot.png" alt="circle">
            <img class="triangle" src="~/img/icon/hero/hero-triangle.png" alt="circle">
        </div>
       
    <!-- product area start -->
    <div class="product__area pt-105 pb-110 grey-bg-2 offset-lg-2">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                        <h2 class="section__title">Temizlik Hizmetleri</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a asp-action="ApartmanTemizlik" asp-controller="Temizlik" target="_blank"></a>
                                <img src="~/img/Hizmetler/Temizlik/apartmantemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="ApartmanTemizlik" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a asp-action="ApartmanTemizlik" asp-controller="Temizlik" target="_blank">Apartman Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html">
                                    <img src="~/img/Hizmetler/Temizlik/bosevtemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="BosEvTemizligi" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Boş Ev Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html">
                                    <img src="~/img/Hizmetler/Temizlik/camtemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="CamTemizligi" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Cam Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/evdehaliyikama.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="EvdeHaliYikama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Evde Halı Yıkama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/evdeutu.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="EvdeUtuHizmeti" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Evde Ütü</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/evtemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="EvTemizlik" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Ev Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/haliyikama.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="HaliYikama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Halı Yıkama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/ilaclama.png" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="Ilaclama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">İlaçlama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/insaatsonrasitemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="InsaatSonrasiTemizlik" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">İnşaat Sonrası Temizlik</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/isyeritemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="IsyeriTemizligi" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">İşyeri Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/koltukyikama.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="KoltukTemizlik" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Koltuk Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/kurutemizleme.png" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="KuruTemizleme" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Kuru Temizleme</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/mermercilalama.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="MermerCilalama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Mermer Cilalama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/storperdetemizlik.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="StorPerdeYikama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Stor Perde Temizliği</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/yatakyikama.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="YatakYikama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Yatak Yıkama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/Hizmetler/Temizlik/yorganyikama.png" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="YorganYikama" asp-controller="Temizlik" target="_blank" class="m-btn m-btn-3">
                                    İlan Ver
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Yorgan Yıkama</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>

