
<main>

    <!-- hero area start -->
    <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
        <div class="hero__shape">
            <img class="circle" src="~/img/icon/hero/hero-circle.png" alt="circle">
            <img class="circle-2" src="~/img/icon/hero/hero-circle-2.png" alt="circle">
            <img class="square" src="~/img/icon/hero/hero-square.png" alt="circle">
            <img class="square-2" src="~/img/icon/hero/hero-square-2.png" alt="circle">
            <img class="dot" src="~/img/icon/hero/hero-dot.png" alt="circle">
            <img class="triangle" src="~/img/icon/hero/hero-triangle.png" alt="circle">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8">
                    <div class="hero__content">
                        <h2 class="hero__title">
                            <span>Biderya</span>
                            <br />Türkiye'nin Yeni Hizmet Platformu
                        </h2>
                        <p>Yüzlerce Hizmet Arasından Dilediğinizi Seçebilirsiniz</p>
                        <div class="hero__search">
                            <form action="#">
                                <div class="hero__search-inner d-xl-flex">
                                    <div class="hero__search-input">
                                        <span><i class="far fa-search"></i></span>
                                        <input type="text" placeholder="İhtiyacınız Olan Hizmeti Yazınız">
                                    </div>
                                    <button type="submit" class="m-btn ml-20"> <span></span> Hizmet Ara</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="hero__thumb-wrapper scene ml-70">
                        <div class="hero__thumb one d-none d-lg-block">
                            <img class="layer" data-depth="0.2" src="~/img/hero/hero3.png" alt="">
                        </div>
                        <div class="hero__thumb two">
                            <img class="layer" data-depth="0.3" src="~/img/hero/DügünNisan.jpeg" alt="">
                        </div>
                        <div class="hero__thumb three">
                            <img class="layer" data-depth="0.4" src="~/img/hero/Temizlik2.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero area end -->
    <!-- product area start -->
    <section class="product__area pt-105 pb-110 grey-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="section__title-wrapper text-center mb-60">
                        <h2 class="section__title">En Popüler Hizmetler</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/hero/KoltukYikama.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="GirisYap" asp-controller="Kullanici" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Koltuk Yıkama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".5s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html">
                                    <img src="~/img/hero/Nakliye4.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="" asp-controller="" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Evden Eve Nakliyat</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".7s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html">
                                    <img src="~/img/hero/Nakliye4.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="" asp-controller="" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Cam Balkon</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/hero/BinaMantolama2.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="GirisYap" asp-controller="Kullanici" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Bina Mantolama</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/hero/BoyaBadana2.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="GirisYap" asp-controller="Kullanici" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Boya Badana İşleri</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="product__item white-bg mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <div class="product__thumb">
                            <div class="product__thumb-inner fix w-img">
                                <a href="product-details.html"></a>
                                <img src="~/img/hero/BoyaBadana2.jpeg" alt="">
                                </a>
                            </div>
                            <div class="product__thumb-btn transition-3">
                                <a asp-action="GirisYap" asp-controller="Kullanici" target="_blank" class="m-btn m-btn-7">
                                    Hizmete Git
                                </a>
                            </div>
                        </div>
                        <div class="product__content">
                            <h3 class="product__title">
                                <a href="product-details.html">Klima Montaj</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__more text-center mt-30">
                        <a href="product.html" class="m-btn m-btn-2"> <span></span> Tüm Hizmetlere Ulaşın </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->
    <!-- banner area start -->
    <section class="banner__area pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="banner__item mb-30 wow fadeInUp" data-wow-delay=".3s" style="background-image: url('img/banner/playstore.jpg');">
                        <h3 style="color: white" class="banner__title">Hizmet veren ve hizmet arayan yüzlerce üyesi bulunan Biderya'ya katılmak ister misin?</h3>
                        <p style="color: white">Hemen butona tıkla ve uygulamayı indir. Böylece ihtiyacın olduğu anda cep telefonundan giriş yap ve hizmetlere ulaş.</p>
                        <a href="about.html" style="color: black" class="m-btn m-btn-white banner__more"> <span></span> Play Store'a Git</a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-md-6">
                    <div class="banner__item mb-30 wow fadeInUp" data-wow-delay=".7s" style="background-image: url('img/banner/appstore.jpg');">
                        <h3 style="color: white" class="banner__title">Hizmet veren ve hizmet arayan yüzlerce üyesi bulunan Biderya'ya katılmak ister misin?</h3>
                        <p style="color: white">Hemen butona tıkla ve uygulamayı indir. Böylece ihtiyacın olduğu anda cep telefonundan giriş yap ve hizmetlere ulaş.</p>
                        <a href="about.html" style="color: black" class="m-btn m-btn-white banner__more"> <span></span> AppStore'a Git</a>
                    </div>
                </div>
            </div>
        </div>
    
    
    <div class="subscribe__area p-relative pt-100 pb-110" data-background="~/img/bg/subscribe-bg.jpg">
        <div class="subscribe__icon">
            <img class="ps" src="~/img/icon/subscribe/ps.png" alt="">
            <img class="wp" src="~/img/icon/subscribe/wp.png" alt="">
            <img class="html" src="~/img/icon/subscribe/html.png" alt="">
            <img class="f" src="~/img/icon/subscribe/f.png" alt="">
            <img class="man" src="/img/icon/subscribe/man.png" alt="">
        </div>
    </div>
    </section>

    <!-- banner area end -->
</main>

