

<main>

    <!-- bg shape area start -->
    <div class="bg-shape">
        <img src="~/img/product/details/1.gif" alt="product-details">
        <!--<img src="~/img/shape/shape-1.png" alt="">-->
    </div>

    <section class="contact__area pt-105 pb-145">
        <div class="contact__shape">
            <img class="man-1" src="~/img/icon/sign/man-1.png" alt="">
            <img class="circle" src="~/img/icon/sign/circle.png" alt="">
            <img class="zigzag" src="~/img/icon/sign/zigzag.png" alt="">
            <img class="dot" src="~/img/icon/sign/dot.png" alt="">
            <img class="bg" src="/img/icon/sign/sign-up.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-24">
                    <div class="page__title-wrapper mb-55">
                        <h2 class="page__title-2">Biderya Hizmet Veren Profil Sayfası</h2>
                        <p>Hizmet arayan müşterileriniz ile iletişim kurabilmek için bilgileri doldurunuz</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-11 col-xl-11">
                    <div class="contact__wrapper  white-bg">
                        <div class="contact__form">
                            <form action="assets/mail.php" method="POST">

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Vergi-Kimlik Numaranız</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Vergi-Kimlik Numaranız" name="email">
                                                <i class="fal fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Şirket İsmi</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Şirket İsmi" name="subject">
                                                <i class="fal fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Adınız</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adınız" name="name">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Soyadınız</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Soyadınız" name="name">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Telefon Numarası</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Telefon Numarası" name="subject">
                                                <i class="fal fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>İş Telefon Numarası</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="İş Telefon Numarası" name="subject">
                                                <i class="fal fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>İl</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>İlçe</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Mahalle</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Sokak</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Bina Numarası</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Daire Numarası</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Adresiniz" name="address">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-12">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Mesajınız</h5>
                                            <div class="contact__input textarea">
                                                <textarea placeholder="Eklemek istediğiniz başka konular varsa bizimle paylaşabilirsiniz." name="message"></textarea>
                                                <i class="fal fa-comment"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-12">
                                        <button type="submit" class="m-btn m-btn-4"> <span></span> Kaydet </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   


    <!-- product area end -->

</main>