@model BideryaMvcProject.Models.HesapKullanici.HesapOlusturViewModel

<main>

    <div class="bg-shape">
        <div class="center-images">

            <img src="~/img/shape/shape-1.png" alt="">
        </div>
    </div>

    <section class="contact__area pt-105 pb-145">
        <div class="contact__shape">
            <img class="man-1" src="~/img/icon/sign/man-1.png" alt="">
            <img class="circle" src="~/img/icon/sign/circle.png" alt="">
            <img class="zigzag" src="~/img/icon/sign/zigzag.png" alt="">
            <img class="dot" src="~/img/icon/sign/dot.png" alt="">
            <img class="bg" src="/img/icon/sign/sign-up.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-24">
                    <div class="page__title-wrapper mb-55">
                        <h2 class="page__title-2" style="color:purple">Biderya Hizmet Veren Profil Sayfası</h2>
                        <p>Hizmet arayan müşterileriniz ile iletişim kurabilmek için bilgileri doldurunuz</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-11 col-xl-11">
                    <div class="contact__wrapper  white-bg">
                        <div class="contact__form">
                            <form asp-controller="Kullanici" asp-action="HizmetVerenHesapOlustur" method="post">

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Vergi-Kimlik Numaranız</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for="VergiNo" placeholder="Vergi-Kimlik Numaranız">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Firma İsmi</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for=FirmaIsmi placeholder="Firma İsmi">
                                                <i class="fal fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Adınız</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for=Ad placeholder="Adınız">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Soyadınız</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for=Soyad placeholder="Soyadınız">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Şifrenizi Giriniz</h5>
                                            <div class="contact__input">
                                                <input type="password" asp-for=Sifre1 placeholder="Şifrenizi Giriniz">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Şifrenizi Tekrar Giriniz</h5>
                                            <div class="contact__input">
                                                <input type="password" asp-for=Sifre2 placeholder="Şifrenizi Tekrar Giriniz">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>E-Mail Adresinizi Giriniz</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for=Email placeholder="E-Mail Adresinizi Giriniz">
                                                <i class="fal fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Hizmet Kategorinizi Seçiniz</h5>
                                            <div class="contact__input">
                                                <input type="text" asp-for=HizmetKategori placeholder="Hizmet Kategorinizi Seçiniz">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                    <div class="row">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact__input-wrapper mb-25">
                                                <h5>Telefon Numarası</h5>
                                                <div class="contact__input">
                                                    <input type="text" asp-for=TelNo placeholder="Telefon Numarası">
                                                    <i class="fal fa-phone"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact__input-wrapper mb-25">
                                                <h5>İş Telefon Numarası</h5>
                                                <div class="contact__input">
                                                    <input type="text" asp-for=IsTelNo placeholder="İş Telefon Numarası">
                                                    <i class="fal fa-phone"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact__input-wrapper mb-25">
                                                <h5>İl</h5>
                                                <div class="contact__input">
                                                    <input type="text" asp-for=Il placeholder="İliniz">
                                                    <i class="fal fa-globe"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="contact__input-wrapper mb-25">
                                                <h5>İlçe</h5>
                                                <div class="contact__input">
                                                    <input type="text" asp-for=Ilce placeholder="İlçeniz">
                                                    <i class="fal fa-globe"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-12">
                                            <div class="contact__input-wrapper mb-25">
                                                <h5>Adres Detayı</h5>
                                                <div class="contact__input textarea">
                                                    <textarea asp-for=AdresTanimi placeholder="Açık Adresinizi Yazınız."></textarea>
                                                    <i class="fal fa-comment"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xxl-12">
                                            <button type="submit" class="m-btn m-btn-4"> <span></span> Kayıt Ol </button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- product area end -->

</main>