/*----------------------------------------*/
/*  11. BANNER CSS START
/*----------------------------------------*/

.banner__item {
    padding: 45px 40px;
    padding-right: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;

    @media (max-width: 1200px) {
        padding-right: 125px;
    }

    @media (max-width: 992px) {
        padding: 25px 20px;
    }

    @media (max-width: 768px) {
        padding-right: 140px;
    }

    @media (max-width: 576px) {
        padding: 25px;
    }

    & p {
        font-size: 14px;
        line-height: 24px;
        color: white;
        margin-bottom: 32px;
    }

    & .banner__more {
        &:hover {
            box-shadow: 0px 16px 20px 0px rgba(13, 3, 55, 0.2);
        }
    }
}

.banner__title {
    font-size: 24px;
    line-height: 30px;
    color: white;
    font-weight: 800;
    margin-bottom: 18px;

    @media (max-width: 576px) {
        font-size: 20px;
    }
}
