

<!DOCTYPE html>
<!--

*** Join the services revolution! ***
    
Check out our job openings: https://info.armut.com/kariyer
​​
-->
<!--[if IE 7 ]><html lang="tr" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="tr" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="tr" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="tr"  dir="">
<!--<![endif]-->
<head>
    <!-- meta -->
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta http-equiv="X-UA-Compatible" content="chrome=1" /><meta http-equiv="Content-type" content="text/html; charset=UTF-8" /><meta http-equiv="Content-Style-Type" content="text/css" /><meta http-equiv="Content-Script-Type" content="text/javascript" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><meta name="author" content="Armut" /><meta name="robots" content="noodp" /><meta property="og:type" content="website" /><meta name="theme-color" content="#ffffff" /><meta name='copyright' content='© 2023 Armut and Armut Teknoloji' />


    <!-- style -->
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/bootstrap-3.3.5.min.css" />
    
        <!-- arabic style -->
        
        <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/fonts.css" />
        



    <!-- brand -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link rel="manifest" href="/manifest.json">
<script>
    window.dataLayer = window.dataLayer || [];
</script>
<style> 
.async-hide {
    opacity: 0!important
} 
</style> 
<script> (function(a, s, y, n, c, h, i, d, e) {
    s.className += ' ' + y;
    h.start = 1 * new Date;
    h.end = i = function() {
        s.className = s.className.replace(RegExp(' ?' + y), '')
    };
    (a[n] = a[n] || []).hide = h;
    setTimeout(function() {
        i();
        h.end = null
    }, c);
    h.timeout = c;
})(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
    'GTM-WMMNQPR': true
}); </script>
<!-- Modified Analytics code with Optimize plugin -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-7211276-5', 'auto');
	ga('require', 'GTM-WMMNQPR');
</script>

<!-- Apple, Facebook, Google Meta -->
<meta name="apple-itunes-app" content="app-id=1028966163">
<meta property="fb:app_id" content="153763334698657" />
<link rel="publisher" href="https://plus.google.com/114617350772147690370" />
<meta property="og:site_name" content="Armut" />
<meta name="twitter:domain" content="armut.com" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="" />
<meta property="og:url" content="https://armut.com/" />
<meta property="og:image" content="https://cdn.armut.com/images/og_image_url.jpg" />
<!-- Google Tag Manager -->
<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-HG7N');
</script>
<!-- End Google Tag Manager -->

    <!-- master specific -->
    
    <script type="text/javascript" src="https://cdn.armut.com/javascript/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.armut.com/javascript/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.armut.com/javascript/bootstrap.min.js"></script>
    <title>
	Temizlik | Armut
</title>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.armut.com/css/armut.css?version=1.4.0.246-Live" />
    <link rel='canonical' href='https://armut.com/g/temizlik-1' />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/mobil-landing.min.css?version=1.4.0.246-Live" />
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/service-group.min.css?version=1.4.0.246-Live" />
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/homepage.min.css?version=1.4.0.246-Live" />
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.armut.com/css/jquery-ui-1.11.4.custom.min.css">
    <script src="https://cdn.armut.com/javascript/retina.min.js"></script>
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>

    <script>document.addEventListener("touchstart", function () { }, true)</script>
   @* <style>
        @media(min-width: 769px) {
            nav.sidebar {
                display: none;
            }
        }

        @media(max-width: 768px) {
            .sidebar {
                transform: translateX(-7%);
                transition: all 0.5s cubic-bezier(.23,1,.32,1);
                position: fixed;
                box-shadow: 235px 2px 34px 0 #000000 !important;
                box-shadow: 235px 2px 34px 0 rgba(0, 0, 0, 0.3) !important;
                height: 100vh;
            }

                .sidebar.hero {
                    opacity: 0.9;
                }
        }
    </style>*@
    <base href="/">
<meta name="description" content="Ev ve ofis temizliğinden haşere ilaçlamaya tüm temizlik ihtiyaçların için ücretsiz teklif al!" /></head>
<body itemtype="http://schema.org/WebPage">
    <!-- Google Tag Manager (noscript) --> <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-HG7N" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- End Google Tag Manager (noscript) --> <!-- ClickCease --> <script type="text/javascript"> var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var target = 'https://www.clickcease.com/monitor/stat.js'; script.src = target; var elem = document.head; elem.appendChild(script); </script> <noscript><a href="https://www.clickcease.com"><img src="https://monitor.clickcease.com/stats/stats.aspx" alt="Click Fraud Protection" /></a></noscript>
    <form method="post" action="/g/temizlik-1/teklif/bos-ev-temizligi/669/1?jobsource=service_groups" id="form1" data-toggle="validator" role="form">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="JApBDXyKt7Ina9LfiBr93qF5zxHOC+3CK8cbP3wpxeR9to0eaOYqeX/T3GtuRv6TRIAoAWeHGqrTZ0Uk0FfCXjFwVz0R4oTfVisHoqrx53+Osual2hsGuzaldZCws7XNTs3GpFDGCpaIGGuuZy5AGI5zb42YTxtPuZF5FrKh0G6WIVQFjjf/qtlM6iq3zoShaVWOFRK96aBSW1NruRu+tWKzq3ln9a029U+McOZfOVGQTU33aWmfr0sDy0ByaUR+7iBZB3ZL74ZWVHgM4xz38pxWvcYYxTPqUhhvXI6Bwic2jGwtBSbxdVTD5gAbxJBKTToigU6c+8/am89JhpeuibuhMLcOVniGp9JYJVpMfiOVIeOSz2g7tKQnZkloqQzXarXeEpsaH0uHHZd62wgSlVWF3hZC7bXs0M+V/2q9kThL1kcIzJ1lNt5uka1eZ3k3kUKaLRhB2FaFgvtfwxPTZqNzzGivAo0yTkU5Hh5rESqNLRzJKsNmo/O3QT9kVsgIJCU7unUv2H5CjdpPjG47fvZ6uj7M71PY0jwVSxsINnk4jFXC7fQ6lVS1BGKCeJhjHXanLNHfoqpRL88PcujBI+Pc/6wc7byp/KElUKbuSfYqA0PntZWLet17TPhSIf8Jvl7nJ80WQlls0M1Nyf5Z3sMpw//b79rAgxFV529z0I+0Uv25qmkqY6yk0fIVRUHuXLFGoZEy1k9n3vupw3BxubCoyAm+RHnv7ZBEqIo6X3F3yw1a2Iof2c/qmeZUFakKC9pkcWUB36VxfB0jWqSI3rrhHBwSZN53l0aSZtdWaO6BOVjclYKTqO0iVbSuOzvUUEzS/sHQ3dLkfl7HYhJ8VwBbukNQIH0AIOZg7Wa66SHPP6op5/hFBLQBDRJZr0zXhQCJJQQCQ9cPslXMFQZmltlDwZd54M/efSddZ/rCd4pBxRurDzRT2ZciioHlRWnp4uB9Lybyc9YyYVqtZzXZf1ElNd2VjDKdArmfpfvc5tjipmHJEjEZIc1oPe9wZR0Noxalf4ZfTzA66WzyrUZjbJGrrmBO6aCCgCqw9SGTycPWBgtsW4IbQVecH38+iaepFAlRsDseOlCY7K8toT+YVs9KvxCvhdAJfONJr9xGFupfNEVk7SfdKnZL+2+ra56YNBdJ03CXPBL3Spy7ZrR1/MgmhXqeV82+xnIqZAeF6kRsDOZtmh9ED90eXivU/wqBQzjJe5kWguJs1pjyCtPvaqTwUtu6MHq4PZJkanwCTGsoS42eKFiQlrt7UaCoKRNTeh2HC/2mEfrZ87VvRw9PGGv+AXh9LGyZn5fitlwAtxwxepMu0+mYT+Y3cJw62tX0VBsj2dRMVBm0HgV1Us6FJvAFSl3zXdqYiZHjsmpGijHFm1hBKPwytGKe7niEKGxK33O8Cwa79i0TEsv4AHkDlZHTA1aAQZIJaO6iZMpFA+br/axgAs1rB4PkKP63XNeL71vqh5VNmvu0aT0YTWzQMsMLsXaLr9Y0GBUtkfe1Xsx2DKXEqXHbo/rnuQUh7JKqpNFzRRx3TFcKqkBhhJ2Qm5R3+rM5945OmW90dtCp1UeyQzoOZT0ZvOmKK6ZoS5V7EZPiYlSQmATtzhBkADIO3ATWKzBvxzoGRqywNmpfFl4NZ63E6J/sQaHfl3OVLwcJ0TV63pVNv72sbFFJM/mKTnHJPGcuKMZSJIsfEu+j312JoE5llf0RZL1WCze8tdacZ2SqLY2T1a5BU0viPx/oyEWETWsWYFOtGgySFelc34zC17jVZAq8LHb7u4apkJzEFDFJDi2YJmqrXV54BTMjnVFBD11hmvQWfH+Uw3v20sMqDfn30GDWlPbi22cHm0F1JF75Wq/CTXI1w13Jmae5ZaJwoZj66mi4LCvfuBQInDeMgXVTPkPm8LJtUyG50n1KBpXR2m6rs3B3Inv1w+M3QH0EFAq/vXK3IlMTylePPhjkozM5iTaUaeerW8DdpUkW/Ocq7n4o6EnZ7oQB1kbXxkkN/poCxk1GmmO6BZiI5B/mYQ+xPXyPxpAkxlXAsLFWG4T11VlFIT+HyUMjG0qaEYbZNo3OXHTrXWHyf6vW3hdExs9jx54pXPn4wHQFQv9HF9GgoDGA/Q5TMvieTfDl/yClPnN8jwfkeeSA0erRbkZdGre4Ev+aItWBltZyHcNg1nMSuJGJ7vU8YSsyUDSpGN74elMaVj1FiUuhbcnFjzfEsB2wmakufbcz/5wIUp5ndbIauHb2sLgDxwbxEEcxrbYvYwv7JQ7tk3JH45LzBDIJ6JTIwrIgNPHhJQHBeZPV6q+u+4pZSEp3k6w9X9Paa9dB6+yqivT8bn6AchsVdqj6P5t9baEY+hGUyAlJgud6IpHs+CK7RfWjl4cqzsvOv8ofPqdu9WP3810nknAVA1i7W6nkceUWIMTuNyA7Sykzw6ESIs5uk0DLmLfv+qs2RzicDdTwVoFbZJhIto3zxS/FMBgNJRGRb/3hYcb+6VjW0EpLUnEFdHJUma1e7AmM4IFvT9jTao59M3qWR5Ea0217ebgcmxQWdEVWPEXfj/WwGIjHkoycqCzn0DMc7fslOS90PK6Puvuz8IMwbA/4yY0SJOrRJP3ic98heTUdHn3LjqADfAwuVT6Rw3HgVm9n7p6nChb0vm8KU5Mw+/vNGHUeyEAgf8OZVGNaUHUOYZ1xvJXj3o+vVEv7oyK9OhRJ236fs2nawLLysYUUMOQGRq3fSoMn+YHkksUrZTrakhNXqUH2h6LFHiNZYj7JMcpv5Ipk9yOFGK9rJyosESfuLMNxinMOhMJ2R6fnmmiLneR8t3AsBTlOaYxlrxo9eqFB4P8aZNhuV7GnHOZJIZ8mrhjOzk7F5MjahjkogMO+PKIYz5Ao2+C3y03LtNWJoNPn6QSI7zzHb7SE4MSMi5l524jyHelt6jHddteRs237foRSjiywUATOl4C4DM2XdUYCyrDlUaYROjDhplQOqZ07JljCI5DzVHGmGK1Cj7kz/w5khjsuTSo06lJDWxQKC2TgBjw205GRIBSETp67qsmgfylsF9QXg76ZN33oYj6PBkO8xVyCgbf3ysdFDWDbL3c5gugUIy3iq/A0kVdg4+hihgT8h00pedrLdlju/MTRtwLmAm2r1LdISO6qe2rVoAJXCbHiuYB2mHB7y4XtjQWp3KQwsYtC8Q5u1z4txWhPe+pcrdhMKo3E9H5vM8ZCs8F4u4WEKcKgw9GDYLaR11fUL6dybHTBevLKX/TGQn0RrrJV66QEUkZO9ZC93Eyd5q9mt12yV0sI1qNBY0viS3yc2FxxmjIC/KBusmFG2l0NVmKaFZi2uRbwfMz0BwTaY/3v8bKB2jTQpvlscKdXUf0DXxY8B1vOnXbCwdjMF6DGn454BBhvlUo6wsjPQrHsM9aPofFHS5ZfKJUgZxMBho7x4n90Rp3ERHNp7Wu/7/k3HlF4mNCtQYS6fKCJWf3JKApsLvj8h/oFGN1bSYc/EW4gIbzMqiJ+kK1NWaOJmj7PBnl0LlQToSYgvsmNMUy5iLeC0Ku+lF/Vh9VPJNTVFK9BkzP9VwmUjWUYVs6p4ySr475TgZ0k6+yOHpsc8MFcERFD/MJXYpQafr5yzA4WkQHiVieJsZzjQRFQqTVL4SCfVWiv31uqQ94Ls4ByTSubhmPz9l+NkpOXHEoiUuuuzbzkgMHKtvYhsreR0PYhKw1vj8e1Jxp6x55220oIwmlHT+LZXDJYVrXAsUk+1zdPWP7mPqKnsk932Czf2Myy1Mw2P7Mys/K98JVsN4CQb0dOGO1XjMBppIawulB67HGLXxhCU2ZpwKG9ppXcDeC/3Ovq8YUsYHgAnk5djcq0Gmo3UOb3yrMr3PTStUGQTiBPI2eH77KsAB52L/jra3hkm7zXsaLW/JpsRzBgbgC0loa9qHB+Pf3VhQRtt+aQMtnJc74NlSC35lTlw5+QHd6oAlxNeB1hTA6kf/trmjuRvMtVTduWgLgafftmBaiDait6igS43ix1W+YU7EhbCec2K3roN1jPLkhude95JiMonPqN8rs8cthuy0yQcVqSZMc2YBeQ+yWaLeCbLcdEwlQvDEHCIpqYfl9/kPbrN452p7MMTcQcJ/ASX0VySFNQufvkmJwaWsOxFvX4cgpPNsKK+KlocBgEYN7lx1NIhhkZCOjkVrslACsGdJIacQgcEsAR39iipCHNREJYfKkWBLUZ4+IUYvrLMZrdR7hEs0+bv8Hl0HuJboA+DYzobB0UK5uGd7QffA4UaZEyLEBaEJvemmKwwrB5ecNKM0/GJd7H6dwSWqsXR6HigKpsCae8orqOD7NMCRt5caGfiSUrI7QF3binuHHGJk7SG9QqDBPW2M7jQuNu9t7KLkWZXC9andd1LW4HWKlHS3TW2Mencq9d+S1UlnqzOSvROCCCuElnioeUcAHC7MweXveuVYIUs9URqQQ9uV9GuKapbgscoDYsshqFtywa+5C68hA62jmum0bgIrJM5jRsg2t2uaB6voPEUgy8sYYPZZCTjZ3/SOvL/m1K3sDJsmTbaThjkUra3HlXofYK1fjT/PqVD3oJ1uVF9B2kyC5mppecRLQkPR1V41tZquHnbi975bOBwDhJK5PLHjXLWGQ6iMDrep4WsPis9R1hNgToB1SzzjAp9MiwJ/tVkutBcCmKbg5I5HYmQrt0jha3cYm0bKheuDT8RJ3EA8Kwsx/p5yNq18PDuYnO2NCaGDQ8EFpBm1WdHpGWqzv3K/vuUek9fVZR36Y5ICrvYC1ZSBZVREoRyaCZlAAnmgtjBvd8wAnFzsEFCXcbkrMnNSFQ89S9nw+Y+loYLxPQ6LHRz0+zoDei+FRLN5jC2GJdfFEQRjUNqbPS9h9i/23FGDmdPkoRASuzAys1naU13HCaY5hZTPW+G3l8VvDbTBTdyD1k4483bxQTXBzOYvylXjzSr/9IMFsQr9W1vcOlE7ZHXfcni2lE3xnj9kaAqSn8eRdLoMdmIQca6WYUcCxC+xF/pZipD8ELWtw8h50FR8IuGkaSbMl5rEAFGB9ENV5GGgb1Ygs7rE5m6dIiBh4r7AxpN1RIQlZbXaNEOgy1ijyNbVaLWdFoWoGH5CkEaaVnELGWyZmO1QVCEnWcja3mHwORVzHGK933EU3S2+OQuCQXwW+o5RAmHe1ga/rOxjzw5FNnCz8L9zgH+4KAiyxIFnA36xiGwvdWoLoQMIaz3bxN/Hp2+11c//FY0uAf4qRuECmf8tfsjaYbEN1z3zhCgOfVsaL/v2T71Raop5rQTWjvAzsnimIN/ohnOV7KdZUdMBWSAU3YvO6Eh5HnRD8ZXUS7GrPU7ph25SGzp7sJtvinY9FbTGz1RMt8A4cyvOwRS25v+9Tl3tVXlPEo4fhQWdf0rYhzR9IYMO2lQGCnCMxAIiwC11kzL7A25ziovHjr4FCxgV+wv4eayAI+ZAp5DjhSIT1oIfg59K6QgXepWD3uyQnAXKG45DjJbRu3JLo1SOXN4HFQNA28TtfqC8qQBTZ5LjqUwZtzLXhes7YK4wxC4n36RJtYZyux9ODDKK9hD8+FI/JIbNUO4eSeyWDP3cDcY1XVoJWY0YqwONMC1sU0lNrHoxh+xDF1MUDjSS8eTnOXIOyQQ4rnb6CGbbDhS1oy/8+lZnZXz/brCQSyNcXu1QBBXoqqnK9XRhHnVi7mYUlm/v00NX6+WH1kkucCSuBfJXpalAufhU/DdnAZLpxptSmn6vcNYpu0XShM8Zv38zdmxQsxL7V3OjyY5TB3VRJJ4mGALpcII9FsfPBEmokCrJvAbG3FW+lVd8go+7c8kndkvbMxWXEy/huO7Cd84+KGq4GioUc1D7kJuL96+8mqE3QiHPfGA8E1Ubg6v80cAEQcLLKsH6p6yrfIhEnmNNdZMhr1uq8Q/u5QhaTk9mmTIm9x2Y97kFVxVVC97L/R1rWWIY6Ih0XBzj2fwOmzN8gLOh9ojHUVh2GFyMUdzMdfddbz0sN3Pl7xgfbwlX+8AVfhK/RYcjoK3CNS32lU2pRGkmwnVBWjbaj4SDPxqSYdCIGFcom8MqAnj9+7kuFn4J/A9szwP6ZzUFwQijyFg35Lbp9WZqhQruJGV1pI3QAXI6X5sMpwSihqVJcVBzqZ9BLztlIsjigBcaS34MviyedcTitmOu4a/JMfuyqRDD62I6lpIlqTZ6+Kc0ZGLgm84M+j75D5rdlKXCfAG3YgdxuBNv4GkQxzEvL3ri5gCBY2Y5itbslhM0V9rKKjVaIJl4ewTN9jSqJnlXu/+qLQetYEwLpS69+F20NUuxNDS8ImQwVqUkeM73Mi6lE5HVZzoWhQaWEfOHHfWVvh1LLApp0QH05kHe8BlSBT3yjG1rfdn72YAWxeUPGLiK4rdKtk4rqaq/uSblEfJ6se2dLii6nkAW9fBKaqt2oTLwPlLxgn0+XHDhhWJNxsnFhVUtwo1Am88jajckGRBfYPfZieIzBwUx3CL5KmijYGQjvbvfVosDxh2qCTLEsZrTuFPf/qAjxWlbcjFG2M5cyNJDw5ckPHCeVynXwPaGBiTsHic2qKZaxZwclKs3ogetWMjFbhp0D6qMVHF8RGxcnXtX0UxvejE+UAZMOQcVBkWIWTwVfu6WugF9q52StMroXjqC+ZqzNEzhqC5cQl6fbN3TJkpSQ9fb9TmnupyRYJW9At1HWN2geG/7sb+yn1WTkjD97U8JjaOmr/DaeFl21/PTcAXuTgiYV6mYWAWYw6vbT0PvNbItGLmrPf0T15eqlIlhV7B73jxw2zCMTBDIeJaAvUZhqruyVWXkCwccjBjLrj8GgiGkwER8rqgbF5lBiCPxxa6tS7eITYVnHdwhTte/iPYpveD91/J6Mj0IyzqHiG0zrpenvk3E+YdvXLT9DElDyMrIEJECD5AFfqsPJI2wP3Hrdj4lj/ZWgYsbdjEJ00PcJSrwswpDD6sbzV6/zwcb0T0J0iD1jFuiQlDuhnPD87UbcZWrEksGZAwtM7x0p+HtAetCOX9sbfskunIBA9gxFm3nMy188kcUvPRhBiH/xax2L+HOF+bXUeuLbP3RpkEpZNlpwSwYOo1vPHtzKW5ic2IJUbobQKsLsFMdKEwbEmsirkxU2d0CMxCSH0NMv9iwzwRhLqxOTDFEfomEfcOR8iVmkUeXO213agcDdRy2iUTbUdDUM7lAY+QPPKv4gmgvaDk/oRw3ufC0JRpV60yd69EuC2riK+dYDrn+W0BZDhvBTlU71eslj3s5hlBjmddxFkKIxKpAMSX4dbwo6WSMExMJvbJ2zetowJlKkFGWZ+6f1tYV3wnvtsc1OwGMoZFQa8TNaMbTUjuzawPxrIngJWUigGMkJ0tmAR3ktIP84sBuER9BRqI4TpHzS0SZptmQVoLWs3hEqbV0rU6ltINFnJBdL80amCVjHV68G0VG7/WxIwFuwiPqVZokAdvuufmN0m+7gwuJlpCHOXI/w6fGs24zmfeQNV5t+ippgJSvF1C78xyEMM7+XYnp4kp7UTfujzvmUeTlkfEN7TvrZWyuq501v5kD6prYgGStc1ZkaQVlePLxW7I2ehYtIcK/ZCqcF7GaZW1eQyZRgWYtyz5zu+l574B5osHpKHlsrFLWCHaIYZUqWQp2oeOfr295se1N0q4Cl0uSzEFETxJ2kKGzxJz8VCZvQ9xAnogonKLzcAnFZJ1n8LDpeJpnbw5sTW6qg9uaPqiKgPcNxvyT8Tg8eZNR62DcZKMSQakMYEe+VjiYoFSUAqu/1d+IfoqjUUsSl6DsmDV87o3WGnYnj/tyrGEOGKVhYaeEQdXJ+DmORvc4WbscV3FmqwDNS9lR0B+Z/uo7tOZguWeY80M8emIRs4b6umsYJje3l7+IhwZ3waagtst/zioCgq77S4X0ZmEyFqXd5A0whycnEt5SWcXorZi3ArgcztMP2hms+V4DETiqYqW3wLLQAFBUXMr2N1mFCPh1rdo4P8pNG5bXx8vymEbnjPzCFTfRsrug0mHEVPKtGeU0KzWz/IAeKLbwK0PBzSgcTVqC9fVg3lkumK8vHsTTm862g1wClMOz8iZorgzshPvsgOTqRRaBSMOfM8YqwWXiLq+gBxyM5kOBSTwIBJA/Oxp5pT0B4ZtmBiAmG2K2DELnvxRgd6BVl3+YmDzFCM3tYfUWb8qYrGN6dmrrCE7q/Jmbkop6mid5Ld+E6CpxzQIw3qJWs3shGl34Y5wHOEk0iIqfnelv3lYpSeODWLYMKT85bLvYfd49cQtZsCWOzLSJAhOtb4LmMLquctI/dGnfNBi64Q/EBUhddLUxJy3xLrkNTkhnWxGvfq8B/VYHPFiNfXtG4rp6YSNTct4snVVYxTKDUpfuIHbc+kV0LIt6wyVDJisFsiWvbFLcTZo63wyVjoPpECMUOsHK0bm6LrDiSE+jEgnuqRFJsSDZKk0VlRiUyRTAJ1TcPG2f1EMEkVlvLhlsIUfAOdAgEtms4FSI7s3R+prVyP0iVp0o3Zav0uf0Bufi23uybmsvyiN9/XEu+gr5+tOb/8GVf90Vzh1KHifXDeIwduV+mmPAOfoTp/gNOS2qhzX8BuEI72G+Z9FcDPwK78T5FajmVGlOHfq2zypHybWhL8DZxnrKve6Zl32Gr8mKxNIvkio0qGEaW6VJLhiifJzhqgLMXirBW2b8nOmb/vLXd7NiVbgp6e0MoDWOLNy2DbOwjY/IOz2vJ3AZe5bVGEseXC2pdFA4I5K/bOJ/N2RhacXIfAEsXJXw/reK1AP58pawVgl4StPp8vx7ldGSK/KqvRv6I3cJSaM9j1VMVrX24iMjQB38qI1UkkIlbK9HQxxjBBi+7+x5cqZEjBKloJTLmzxcuWa/diA9Lp6VY4C2AbZYKRNhqG+Nhwi+k75hVpettmViRUKYlG+exVtEiPMuAnvqfs2w72LpABQG9L0VOOvJrk36baxCJyPt2FYfPE4/JS8r40a+QzPDDYYP1aBVeAtOJXCu9ZcBC69QLr5yct6FuTVe+k5/FKF4K+hVZS2Yy1677ok2bLJKtiQnnsfpzveAhTIHotoj5wXtSJJdPjLfQcROMPGtaiMPwQaMeQ0G24+MlayDukmJAWhPXhwsCc3rBMtaN0OKHz7lnYsWKY9Yj+A16z3EeHA+TSczFCAhxkQw/io2v/VhsCokyyBU/tfbRaoYJu+RajtwPh6sPCqMeXoOlD2P3PHm+IUonrQBZ2dQ6gnI5R1ZPUErLMUOs4hIUMTOV65SPILsr5WY/NNpONcV8oz6WMC+7sso0FDzzSOK5zLdYUMkjkG0Y9v1Kt6TXyeK9MaxvWyxOgkqVNUZyGyG56Xptd1RDZD5MRZQNfimRAWXNxj2bBGnFOFaxjKn5MKUAehrcd0TZqAWr+4JRWBmUza9BDzT09qV9+mj/uWIUa4IGmewmM3+Gfar8Th0HhCNJGEfn2kd2gNRRIZD2v1O0ThF7nxut21TPmPJeJI8JJ7DxVozjj6iOKH3OYGEXmqhuN59wqdaURn5X3nf3FWEM1Jslg2ANRwn4R2qpu6INpLSkiWCR7PYqwrGhGPwwtxYJv5rV7NlHtkdlGS0L0qnuYuigSlP0b2JzkbTiI/LOh88P0B25TnneAXytbAuwhgU8pPEPHSeQqB5o1c1nLRsAYTNeRQVHJGZA4242L1R0iO17L9USex7SjYNsBTigCcS7hAjU1jVUk64OL+++At0bQ65pQY3sMRpbF+MLokPqWTIydcFUcpb8KKryH6yYZ8cNYKwQlo0qB/G8dLjzNIomptKvCzC8fFHOo5QagrIkMqEwpnrf6NYgT4arLtsgOj6o8q48QtU5ezbrGYrhfrZZ5vO/nhIhWDm1tuB9bxkRbxm3YdrIKJNBO0X11Zu7Xzo0pIEZR2t6iDaZ0hDYrhCjayYxiSrDGS7EJ7cCNPdS5OqjUhL6i72b2M1Lk7c9EQEAgel3t38eIVcDhX7xY+rUmCmgKa0XdeJ6mPx/3Pd5/T2VX+UgMvqpWP/u09VMEcY4V5X/m7g+QEnKSGJItzcqdzudOOlIOXpdmCWxK4nHHC5SMeSMeWFKQJkmpe8Rw2GHVzlDd0lrqBRoJfH5DTxau73WcIj03TQZjBsI5uxbHo/r3i2Pjuz5v3RCoRMYwj22+sOR/RmK+pOjlFcs3o0x5scuQ2vYf3zEVdNb/50exe8D2z0vWJAES8vkjlSNpS6cVK3VoJj8rhBQXf6VwV1nS9QW8xU51KAQhvpNH4Kp/5kMyJsXSDjQs8z1mfKjsXax5SsPY+6ckYjJm5Fk5yUkzcK2avx2me2thGO5LGj1ld9BoVSYqslhvo9bbDGweeKb/wSkdcdi3oK5AleiJOiGpTlNoa48vfsdH2sUSKj/iZujysUKuj8LwDz3/6atiZ5uYOMRm7WNbpBq42NbdvAHqj/0SV8AIjEEUsAB7u3k8q/I5RrzKXABk3f57jYCqv8HyJfN4OkT2LYUiKT7rs32RCXmFUqhBKpRe4o4weaPXRYeelYTAItM7YUL1Puv8rnTJv7GGacHmVswqZhkJumIWTd1Rk0y8wpV+zzhZ9b8e6+lNrb3z6J/sQ8J1AkdbbLdWtshvQd5yFLuaBaWFYLeht65KmL92j+VyYZ4o7APnSXO+XlHr4ntlHcTduqmKnKkklWoTpIP+rb9h6o4+frrlDO9gwqJGBczZiZ7oXV/2iyw+YJH5ovmNPdxhxaOzEdEzKxzYJEwDqaw2l5bkvEKdgkPMkOFvFphKcJcjFul9JysG4FlWhMsSfE4W3XsATBWVnLosHi+mreoG3sHj0NKbk9KnzPFeDoBZASNod420b2SOALT0uz4RkQWQSdXRKNzApM/944YGrs+i8D4WuaUE8k+c0tQkOciK52O7mjHG34RuXLtARSsvg7hXyAmRhwaHTiGSo+jQE3BnuG8fTKAinEhbhoAh8yZGB9Ndn+BJCQcpNtwArMrXzzgiOMx0J8gqmr5eRVUkpvciLl7Ks+2nC5qftfP+Yc4blwZOZL6IyCJ2sphJhtPTBDsDwn6yitu4QDUe1KL+YepV9Ca63DxJqz5UYDWz3awwsArS1IEBt9BLm8He3FZMCeAI9PXIoxG9hmz7jX+ZDgcfIm/NmyqIKZcO+7YT8o/Mqj3bnw3+AdpAOc96YCiJ2PF7wwuCOnQGVJR1oxw0gi4E7mu/6Klr1Sdol0KO6Qgv8Gowy2VUty+CZCWdCj53XWot0E1QD2DCSD3DbET0aAUyKRBMo7kockrHdXU5F7StEDJVBq52CTI8N+a/88DSaj8qth4mDyBLg0XZqCi+AC3ixbi8MNCFOGd5zqAJ+675tFNnkVQAYchbXhnopb+RMtceKCJzAv4GIPUZitOsLGyRRKYsqmXKy7N6hxyecdA6qVFWWUGLKDG1+VS5cBCKQreo9SKTnHM8XakCNm/7LnjpJuyUmNDqdMq9bkDtXeD8/eLAqRtU2sao/2xyeEWO9k+fB/oMeEZnE89T0nH+8Wo6or/7Moy0X87OwNgfpD1NyPnwZuBueowZyO//7udiIRlAQlvrcbk24Ur6cHT49ygtfwt8v1bMT5Kl49ZyEJL274S7/zDz6b2VO4A2vBbUb+dcEIRkvvIq+eEC2oYUqSgrluFU0i3rN90c6hXO+HHkNQNUoO4T1oDL6VBWNt/aocmz8mEYGaXJbuynULQxpFf0Yt8aPdf+H0ePI+1XHLrzz0NiHBEwuOpAWQiNwXSh6u3i/qEjW5WjQBVxwVvU7KSoAiumokvRVIwPTVI3zbrx/BZCvk0VBw81azQEYIWcEAwiL/YqOzMg4CFR02NkAJbq8CNNHcHzTcShlzhReQ==" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A81CDA1D" />
</div>
        <header class="transparent">
            <div class="container">
                <a href="https://armut.com" style="background-image: url('https://cdn.armut.com/images/armut-logo-colour-negative@3x.png') !important" class="logo"></a>
                <ul class="list-inline header-container header-container-homepage">
                    <li><a href='https://armut.com/g/temizlik-1'>TEMİZLİK</a></li><li><a href='https://armut.com/g/tadilat-2'>TADİLAT</a></li><li><a href='https://armut.com/g/nakliyat-3'>NAKLİYAT</a></li><li><a href='https://armut.com/g/tamir-4'>TAMİR</a></li><li><a href='https://armut.com/g/ozel-ders-5'>ÖZEL DERS</a></li><li><a href='https://armut.com/g/saglik-6'>SAĞLIK</a></li><li><a href='https://armut.com/g/organizasyon-9'>ORGANİZASYON</a></li><li><a href='https://armut.com/g/diger'>DİĞER</a></li>
                </ul>
                <div id="sidebar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="menu-ham">MENU</div>
                </div>
                <nav id="sidebar" class="sidebar">
                    <ul class="header-container">
                        
                        <li><a class="btn-login" href='https://destek.armut.com/hc/tr'>YARDIM</a></li>
                        
                                <li><a href="https://armut.com/giris" class="btn-login">GİRİŞ</a></li>
                                <li><a href="https://armut.com/profesyonel-uye-ol" class="hizmet-ver">HİZMET VER</a></li>
                            
                        <li><a href='https://armut.com/g/temizlik-1'>TEMİZLİK</a></li><li><a href='https://armut.com/g/tadilat-2'>TADİLAT</a></li><li><a href='https://armut.com/g/nakliyat-3'>NAKLİYAT</a></li><li><a href='https://armut.com/g/tamir-4'>TAMİR</a></li><li><a href='https://armut.com/g/ozel-ders-5'>ÖZEL DERS</a></li><li><a href='https://armut.com/g/saglik-6'>SAĞLIK</a></li><li><a href='https://armut.com/g/organizasyon-9'>ORGANİZASYON</a></li><li><a href='https://armut.com/g/diger'>DİĞER</a></li>
                    </ul>
                    <a href="https://armut.com" class="logo-ham"></a>
                </nav>
                <div class="profile-nav">
                    <ul class="list-inline">
                        
                        <li><a class="btn-login" href='https://destek.armut.com/hc/tr'>YARDIM</a></li>
                        
                                <li class="hizmet-ver-container"><a href="https://armut.com/profesyonel-uye-ol" class="hizmet-ver">HİZMET VER</a></li>
                                <li><a href="https://armut.com/giris" class="btn-login">GİRİŞ</a></li>
                            
                    </ul>
                </div>
            </div>
        </header>
        <script>
            $('#sidebar-btn').click(function (e) {
                e.stopPropagation();
                $('#sidebar').toggleClass('show-menu');
                $('html').addClass('sidebar-open');
            });
            $('#sidebar').click(function (e) {
                e.stopPropagation();
            });
            $('body,html').click(function (e) {
                $('#sidebar').removeClass('show-menu');
                $('html').removeClass('sidebar-open');
            });

        </script>
        
    <div class="categories">
        <div class="responsive-navigation-wrapper"></div>
        <div id="content-body">
            <div id="ContentPlaceHolder1_divHead" class="hero servicegroup-img" style="background-image: url(https://cdn.armut.com/images/homepage-cleaner-6.jpg)">
                <div class="background-img">
                    <div class="container">
                        <div class="wrapper headline">
                            <h1 class="body-text"><span id="ContentPlaceHolder1_lblH1Title">Temizlik Hizmetleri</span></h1>
                            <section class="search-offer">
                                <div class="container">
                                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                                        <app-root-wizard root="g/temizlik-1"  placeholder="hangi hizmeti arıyorsun?" buttontext="Ara"
                                                 jobsource="service_groups" pagescreenname="ServiceGroups">
                                            <div class="wizard-mask-container"  placeholder="hangi hizmeti arıyorsun?" buttontext="Ara">
                                                <input type="text" class="wizard-mask-input-text" autofocus="autofocus" placeholder="hangi hizmeti arıyorsun?" />
                                                <button type="button" class="wizard-mask-input-button">Ara </button>
                                            </div>
                                        </app-root-wizard>  
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="popular">
                        <h2 class="popular-services">Popüler Temizlik Hizmetleri</h2>
                        
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_pnlServicePods_0" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1" data-serviceid="191">
        <div class="img-box" data-serviceid="191"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="191"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00191-ev-temizligi_thumb_875x500.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_imgServiceImage_0" loading="lazy" alt="Haftalık trend servislerinden Ev Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="191"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1" >Ev Temizliği </h4>
            <p data-serviceid="191"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_lblProCount_0"><i class='fa fa-user'></i> 6.840 profesyonel</span></p>
            <p data-serviceid="191"  data-jobSource="service_groups" data-url="teklif/ev-temizligi/191/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_lblRatingCount_0"><i class='fa fa-star'></i> 4,5 (288.522 onaylı yorum)</span></p>
            <span data-url="teklif/ev-temizligi/191/1" data-jobSource="service_groups" data-serviceid="191" class="btn action-btn btn-orange callAngularApps">REZERVASYON</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_1_pnlServicePods_1" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1" data-serviceid="669">
        <div class="img-box" data-serviceid="669"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="669"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00669-bos-ev-temizligi.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_1_imgServiceImage_1" loading="lazy" alt="Haftalık trend servislerinden Boş Ev Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="669"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1" >Boş Ev Temizliği </h4>
            <p data-serviceid="669"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_1_lblProCount_1"><i class='fa fa-user'></i> 3.469 profesyonel</span></p>
            <p data-serviceid="669"  data-jobSource="service_groups" data-url="teklif/bos-ev-temizligi/669/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_1_lblRatingCount_1"><i class='fa fa-star'></i> 4,5 (310.317 onaylı yorum)</span></p>
            <span data-url="teklif/bos-ev-temizligi/669/1" data-jobSource="service_groups" data-serviceid="669" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_2_pnlServicePods_2" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1" data-serviceid="727">
        <div class="img-box" data-serviceid="727"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="727"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00727-koltuk-yikama-temizleme.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_2_imgServiceImage_2" loading="lazy" alt="Haftalık trend servislerinden Koltuk Yıkama Temizleme." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="727"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1" >Koltuk Yıkama </h4>
            <p data-serviceid="727"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_2_lblProCount_2"><i class='fa fa-user'></i> 2.006 profesyonel</span></p>
            <p data-serviceid="727"  data-jobSource="service_groups" data-url="teklif/koltuk-yikama-temizleme/727/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_2_lblRatingCount_2"><i class='fa fa-star'></i> 4,9 (42.002 onaylı yorum)</span></p>
            <span data-url="teklif/koltuk-yikama-temizleme/727/1" data-jobSource="service_groups" data-serviceid="727" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_3_pnlServicePods_3" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1" data-serviceid="417">
        <div class="img-box" data-serviceid="417"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="417"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00417-insaat-sonrasi-temizlik.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_3_imgServiceImage_3" loading="lazy" alt="Haftalık trend servislerinden İnşaat Sonrası Temizlik." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="417"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1" >İnşaat Sonrası Temizlik </h4>
            <p data-serviceid="417"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_3_lblProCount_3"><i class='fa fa-user'></i> 2.229 profesyonel</span></p>
            <p data-serviceid="417"  data-jobSource="service_groups" data-url="teklif/insaat-sonrasi-temizlik/417/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_3_lblRatingCount_3"><i class='fa fa-star'></i> 4,4 (21.849 onaylı yorum)</span></p>
            <span data-url="teklif/insaat-sonrasi-temizlik/417/1" data-jobSource="service_groups" data-serviceid="417" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_4_pnlServicePods_4" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1" data-serviceid="87">
        <div class="img-box" data-serviceid="87"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="87"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00087-hali-yikama-temizleme.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_4_imgServiceImage_4" loading="lazy" alt="Haftalık trend servislerinden Halı Yıkama Temizleme." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="87"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1" >Halı Yıkama </h4>
            <p data-serviceid="87"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_4_lblProCount_4"><i class='fa fa-user'></i> 1.676 profesyonel</span></p>
            <p data-serviceid="87"  data-jobSource="service_groups" data-url="teklif/hali-yikama-temizleme/87/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_4_lblRatingCount_4"><i class='fa fa-star'></i> 4,8 (63.083 onaylı yorum)</span></p>
            <span data-url="teklif/hali-yikama-temizleme/87/1" data-jobSource="service_groups" data-serviceid="87" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_5_pnlServicePods_5" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1" data-serviceid="31">
        <div class="img-box" data-serviceid="31"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="31"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00031-hasere-ilaclama.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_5_imgServiceImage_5" loading="lazy" alt="Haftalık trend servislerinden Haşere İlaçlama." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="31"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1" >Haşere İlaçlama </h4>
            <p data-serviceid="31"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_5_lblProCount_5"><i class='fa fa-user'></i> 1.108 profesyonel</span></p>
            <p data-serviceid="31"  data-jobSource="service_groups" data-url="teklif/hasere-ilaclama/31/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_5_lblRatingCount_5"><i class='fa fa-star'></i> 4,9 (16.269 onaylı yorum)</span></p>
            <span data-url="teklif/hasere-ilaclama/31/1" data-jobSource="service_groups" data-serviceid="31" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_6_pnlServicePods_6" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1" data-serviceid="295">
        <div class="img-box" data-serviceid="295"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="295"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00295-ofis-temizligi.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_6_imgServiceImage_6" loading="lazy" alt="Haftalık trend servislerinden Ofis Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="295"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1" >Ofis Temizliği </h4>
            <p data-serviceid="295"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_6_lblProCount_6"><i class='fa fa-user'></i> 2.309 profesyonel</span></p>
            <p data-serviceid="295"  data-jobSource="service_groups" data-url="teklif/ofis-temizligi/295/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_6_lblRatingCount_6"><i class='fa fa-star'></i> 4,4 (25.831 onaylı yorum)</span></p>
            <span data-url="teklif/ofis-temizligi/295/1" data-jobSource="service_groups" data-serviceid="295" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_7_pnlServicePods_7" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1" data-serviceid="7170">
        <div class="img-box" data-serviceid="7170"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="7170"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/07170-ev-cam-temizligi.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_7_imgServiceImage_7" loading="lazy" alt="Haftalık trend servislerinden Cam Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="7170"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1" >Cam Temizliği </h4>
            <p data-serviceid="7170"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_7_lblProCount_7"><i class='fa fa-user'></i> 2.201 profesyonel</span></p>
            <p data-serviceid="7170"  data-jobSource="service_groups" data-url="teklif/cam-temizligi/7170/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_7_lblRatingCount_7"><i class='fa fa-star'></i> 4,5 (317.185 onaylı yorum)</span></p>
            <span data-url="teklif/cam-temizligi/7170/1" data-jobSource="service_groups" data-serviceid="7170" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_8_pnlServicePods_8" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1" data-serviceid="659">
        <div class="img-box" data-serviceid="659"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="659"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00659-apartman-ve-bina-temizligi.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_8_imgServiceImage_8" loading="lazy" alt="Haftalık trend servislerinden Apartman Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="659"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1" >Apartman Temizliği </h4>
            <p data-serviceid="659"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_8_lblProCount_8"><i class='fa fa-user'></i> 1.911 profesyonel</span></p>
            <p data-serviceid="659"  data-jobSource="service_groups" data-url="teklif/apartman-temizligi/659/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_8_lblRatingCount_8"><i class='fa fa-star'></i> 4,4 (17.004 onaylı yorum)</span></p>
            <span data-url="teklif/apartman-temizligi/659/1" data-jobSource="service_groups" data-serviceid="659" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_9_pnlServicePods_9" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1" data-serviceid="2471">
        <div class="img-box" data-serviceid="2471"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="2471"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/02471-bocek-ilaclama.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_9_imgServiceImage_9" loading="lazy" alt="Haftalık trend servislerinden Böcek İlaçlama." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="2471"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1" >Böcek İlaçlama </h4>
            <p data-serviceid="2471"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_9_lblProCount_9"><i class='fa fa-user'></i> 1.712 profesyonel</span></p>
            <p data-serviceid="2471"  data-jobSource="service_groups" data-url="teklif/bocek-ilaclama/2471/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_9_lblRatingCount_9"><i class='fa fa-star'></i> 4,8 (17.237 onaylı yorum)</span></p>
            <span data-url="teklif/bocek-ilaclama/2471/1" data-jobSource="service_groups" data-serviceid="2471" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_10_pnlServicePods_10" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1" data-serviceid="171">
        <div class="img-box" data-serviceid="171"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="171"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00171-evde-utu-hizmeti.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_10_imgServiceImage_10" loading="lazy" alt="Haftalık trend servislerinden Evde Ütü Hizmeti." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="171"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1" >Evde Ütü Hizmeti </h4>
            <p data-serviceid="171"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_10_lblProCount_10"><i class='fa fa-user'></i> 2.370 profesyonel</span></p>
            <p data-serviceid="171"  data-jobSource="service_groups" data-url="teklif/evde-utu-hizmeti/171/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_10_lblRatingCount_10"><i class='fa fa-star'></i> 4,5 (291.522 onaylı yorum)</span></p>
            <span data-url="teklif/evde-utu-hizmeti/171/1" data-jobSource="service_groups" data-serviceid="171" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_11_pnlServicePods_11" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1" data-serviceid="1064">
        <div class="img-box" data-serviceid="1064"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="1064"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/01064-ev-ilaclama.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_11_imgServiceImage_11" loading="lazy" alt="Haftalık trend servislerinden Ev İlaçlama." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="1064"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1" >Ev İlaçlama </h4>
            <p data-serviceid="1064"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_11_lblProCount_11"><i class='fa fa-user'></i> 1.179 profesyonel</span></p>
            <p data-serviceid="1064"  data-jobSource="service_groups" data-url="teklif/ev-ilaclama/1064/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_11_lblRatingCount_11"><i class='fa fa-star'></i> 4,8 (17.225 onaylı yorum)</span></p>
            <span data-url="teklif/ev-ilaclama/1064/1" data-jobSource="service_groups" data-serviceid="1064" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_12_pnlServicePods_12" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1" data-serviceid="6243">
        <div class="img-box" data-serviceid="6243"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="6243"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/06243-yatak-yikama-temizleme.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_12_imgServiceImage_12" loading="lazy" alt="Haftalık trend servislerinden Yatak Yıkama." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="6243"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1" >Yatak Yıkama </h4>
            <p data-serviceid="6243"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_12_lblProCount_12"><i class='fa fa-user'></i> 1.614 profesyonel</span></p>
            <p data-serviceid="6243"  data-jobSource="service_groups" data-url="teklif/yatak-yikama/6243/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_12_lblRatingCount_12"><i class='fa fa-star'></i> 4,9 (44.843 onaylı yorum)</span></p>
            <span data-url="teklif/yatak-yikama/6243/1" data-jobSource="service_groups" data-serviceid="6243" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_13_pnlServicePods_13" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1" data-serviceid="1526">
        <div class="img-box" data-serviceid="1526"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="1526"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/01526-tahta-kurusu-ilaclama.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_13_imgServiceImage_13" loading="lazy" alt="Haftalık trend servislerinden Tahta Kurusu İlaçlama." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="1526"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1" >Tahta Kurusu İlaçlama </h4>
            <p data-serviceid="1526"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_13_lblProCount_13"><i class='fa fa-user'></i> 793 profesyonel</span></p>
            <p data-serviceid="1526"  data-jobSource="service_groups" data-url="teklif/tahta-kurusu-ilaclama/1526/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_13_lblRatingCount_13"><i class='fa fa-star'></i> 4,8 (18.179 onaylı yorum)</span></p>
            <span data-url="teklif/tahta-kurusu-ilaclama/1526/1" data-jobSource="service_groups" data-serviceid="1526" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_14_pnlServicePods_14" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1" data-serviceid="61504">
        <div class="img-box" data-serviceid="61504"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="61504"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/61504-du%CC%88kkan-temizligi.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_14_imgServiceImage_14" loading="lazy" alt="Haftalık trend servislerinden Dükkan Temizliği." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="61504"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1" >Dükkan Temizliği </h4>
            <p data-serviceid="61504"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_14_lblProCount_14"><i class='fa fa-user'></i> 1.360 profesyonel</span></p>
            <p data-serviceid="61504"  data-jobSource="service_groups" data-url="teklif/dukkan-temizligi/61504/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_14_lblRatingCount_14"><i class='fa fa-star'></i> 4,5 (30.998 onaylı yorum)</span></p>
            <span data-url="teklif/dukkan-temizligi/61504/1" data-jobSource="service_groups" data-serviceid="61504" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                                <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_15_pnlServicePods_15" class="col-xs-6 col-sm-3">
	
    <div class="service-pod-wrapper callAngularApps"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1" data-serviceid="935">
        <div class="img-box" data-serviceid="935"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1">
            <div class="img-inner-shadow"></div>
            <div class="dark-overlay" data-serviceid="935"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1"></div>
            <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00935-evde-yemek-pisirme.jpg" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_15_imgServiceImage_15" loading="lazy" alt="Haftalık trend servislerinden Evde Yemek Pişirme." />
        </div>
        <div class="description-box">
            <h4 data-serviceid="935"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1" >Evde Yemek Pişirme </h4>
            <p data-serviceid="935"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_15_lblProCount_15"><i class='fa fa-user'></i> 1.431 profesyonel</span></p>
            <p data-serviceid="935"  data-jobSource="service_groups" data-url="teklif/evde-yemek-pisirme/935/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_15_lblRatingCount_15"><i class='fa fa-star'></i> 4,8 (495 onaylı yorum)</span></p>
            <span data-url="teklif/evde-yemek-pisirme/935/1" data-jobSource="service_groups" data-serviceid="935" class="btn action-btn btn-orange callAngularApps">TEKLİF AL</span>
        </div>
    </div>

</div>
                            
                    </div>
                </div>
            </div>
            <section class="all-services">
                <h2 class="all-service">Tüm Temizlik Hizmetleri</h2>
                <div class="all-services-list">
                    <table id="ContentPlaceHolder1_dgGroupServiceList" class="full-width" cellspacing="0" AutoGenerateColumns="False" style="border-collapse:collapse;">
	<tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_0" class="service-name" href="https://armut.com/apartman-temizligi">Apartman Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl00$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_0" value="Apartman Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_1" class="service-name" href="https://armut.com/bocek-ilaclama">Böcek İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl01$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_1" value="Böcek İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_2" class="service-name" href="https://armut.com/bos-ev-temizligi">Boş Ev Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl02$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_2" value="Boş Ev Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_3" class="service-name" href="https://armut.com/cam-silme">Cam Silme</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl03$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_3" value="Cam Silme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_4" class="service-name" href="https://armut.com/cam-temizligi">Cam Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl04$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_4" value="Cam Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_5" class="service-name" href="https://armut.com/dis-cephe-cam-temizligi">Dış Cephe Cam Silme</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl05$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_5" value="Dış Cephe Cam Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_6" class="service-name" href="https://armut.com/dukkan-temizligi">Dükkan Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl06$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_6" value="Dükkan Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_7" class="service-name" href="https://armut.com/ev-ilaclama">Ev İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl07$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_7" value="Ev İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_8" class="service-name" href="https://armut.com/ev-temizligi">Ev Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl08$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_8" value="Ev Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_9" class="service-name" href="https://armut.com/evde-hali-yikama">Evde Halı Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl09$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_9" value="Evde Halı Yıkama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_10" class="service-name" href="https://armut.com/evde-utu-hizmeti">Evde Ütü Hizmeti</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl10$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_10" value="Evde Ütü Hizmeti" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_11" class="service-name" href="https://armut.com/evde-yemek-pisirme">Evde Yemek Pişirme</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl11$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_11" value="Evde Yemek Pişirme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_12" class="service-name" href="https://armut.com/fare-ilaclama">Fare İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl12$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_12" value="Fare İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_13" class="service-name" href="https://armut.com/hali-yikama-temizleme">Halı Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl13$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_13" value="Halı Yıkama Temizleme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_14" class="service-name" href="https://armut.com/hasere-ilaclama">Haşere İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl14$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_14" value="Haşere İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_15" class="service-name" href="https://armut.com/insaat-sonrasi-temizlik">İnşaat Sonrası Temizlik</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl15$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_15" value="İnşaat Sonrası Temizlik" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_16" class="service-name" href="https://armut.com/isyeri-temizligi">İşyeri Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl16$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_16" value="İşyeri Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_17" class="service-name" href="https://armut.com/koltuk-yikama-temizleme">Koltuk Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl17$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_17" value="Koltuk Yıkama Temizleme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_18" class="service-name" href="https://armut.com/kuru-temizleme">Kuru Temizleme</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl18$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_18" value="Kuru Temizleme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_19" class="service-name" href="https://armut.com/magaza-cam-temizligi">Mağaza Cam Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl19$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_19" value="Mağaza Cam Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_20" class="service-name" href="https://armut.com/merdiven-temizligi">Merdiven Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl20$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_20" value="Merdiven Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_21" class="service-name" href="https://armut.com/mermer-cilalama">Mermer Cilalama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl21$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_21" value="Mermer Cilalama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_22" class="service-name" href="https://armut.com/mermer-silim">Mermer Silim</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl22$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_22" value="Mermer Silim" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_23" class="service-name" href="https://armut.com/ofis-hali-yikama">Ofis Halı Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl23$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_23" value="Ofis Halı Yıkama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_24" class="service-name" href="https://armut.com/ofis-temizligi">Ofis Temizliği</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl24$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_24" value="Ofis Temizliği" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_25" class="service-name" href="https://armut.com/pire-ilaclama">Pire İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl25$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_25" value="Pire İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_26" class="service-name" href="https://armut.com/stor-perde-yikama-temizleme">Stor Perde Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl26$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_26" value="Stor Perde Yıkama Temizleme" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_27" class="service-name" href="https://armut.com/tahta-kurusu-ilaclama">Tahta Kurusu İlaçlama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl27$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_27" value="Tahta Kurusu İlaçlama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_28" class="service-name" href="https://armut.com/yaprak-sarma-yapimi">Yaprak Sarma Yapımı</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl28$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_28" value="Yaprak Sarma Yapımı" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_29" class="service-name" href="https://armut.com/yatak-yikama">Yatak Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl29$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_29" value="Yatak Yıkama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_30" class="service-name" href="https://armut.com/yerinde-arac-koltuk-yikama">Yerinde Araç Koltuk Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl30$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_30" value="Yerinde Araç Koltuk Yıkama" />
                        </td>
	</tr><tr>
		<td style="width:274px;">
                            <a id="ContentPlaceHolder1_dgGroupServiceList_hpLink_31" class="service-name" href="https://armut.com/yorgan-yikama">Yorgan Yıkama</a>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$dgGroupServiceList$ctl31$hdnServiceName" id="ContentPlaceHolder1_dgGroupServiceList_hdnServiceName_31" value="Yorgan Yıkama" />
                        </td>
	</tr>
</table>
                </div>
            </section>
        </div>
    </div>
     
    <!-- Criteo Groups -->
    <script type="text/javascript">
        var google_tag_params = { pagetype: "Service Groups" };
        window.criteo_q = window.criteo_q || [];
        window.criteo_q.push(
            { event: "setAccount", account: 29700 },
            { event: "setSiteType", type: /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d" },
            { event: "viewList", item: ['191', '669', '727'] });
    </script>
    <!-- End Criteo Groups-->
    
    <input type="hidden" value="https://cdn.armut.com/" id="webrootCdnForCssAndJs"/>
    <input type="hidden" value="LIVE" id="armutStatus"/>
    <input type="hidden" value="https://cdn.armut.com/javascript/angular/CustomerOnboarding/latest/tr" id="angularComponentUrl"/>
                

 <script src="https://cdn.armut.com/javascript/angular/CustomerOnboarding/latest/tr/runtime.js?version=1.4.0.246-Live" defer></script>
<script src="https://cdn.armut.com/javascript/angular/CustomerOnboarding/latest/tr/polyfills-es5.js?version=1.4.0.246-Live" nomodule defer>
</script><script src="https://cdn.armut.com/javascript/angular/CustomerOnboarding/latest/tr/polyfills.js?version=1.4.0.246-Live" defer></script>
<script src="https://cdn.armut.com/javascript/angular/CustomerOnboarding/latest/tr/main.js?version=1.4.0.246-Live" defer></script>

    <script type="text/javascript" src="https://cdn.armut.com/assets/dist/scripts/dynamic.min.js?version=1.4.0.246-Live"></script> 

        
<style>
    footer ul {
        line-height: 1.5 !important;
    }

        footer ul li a {
            color: rgb(173, 174, 179) !important;
            line-height: 0.5em !important;
        }

    footer h5 {
        margin-top: 6px;
        margin-bottom: 20px !important;
    }
</style>
<footer>
    <div class="footer container footer-container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
    <h5 class="footer-title">BİLGİ</h5>
    <ul>
        <li><a title='Nasıl Çalışır?' href='https://info.armut.com/nasil-calisir'>Nasıl Çalışır?</a></li>
        <li><a title='Yardım' href='http://destek.armut.com'>Yardım</a></li>
        <li><a title='Blog' href='https://blog2.armut.com'>Blog</a></li>
        <li><a title='Hakkımızda' href='https://info.armut.com'>Hakkımızda</a></li>
        <li><a title='Kariyer' href='https://info.armut.com/kariyer'>Kariyer</a></li>
    </ul>
</div>
            <div class="col-xs-6 col-sm-3">
    <h5 class="footer-title">Hizmetler</h5>
    <ul>
        <li><a title='Ev Temizliği' href='//armut.com/ev-temizligi'>Ev Temizliği</a></li>
        <li><a title='Evden Eve Nakliyat' href='//armut.com/evden-eve-nakliyat'>Evden Eve Nakliyat</a></li>
        <li><a title='Boya Badana' href='//armut.com/boyaci-boya-badana-ustasi'>Boya Badana</a></li>
        <li><a title='Usta Arıyorum' href='//armut.com/usta-ariyorum'>Usta Arıyorum</a></li>
        <li><a title='En Yakın' href='//armut.com/en-yakin'>En Yakın</a></li>
    </ul>
</div>
            <div class="col-xs-6 col-sm-3">
    <h5 class="footer-title">Fiyatlar</h5>
    <ul>
      <li><a href="/fiyatlari/ev-temizligi_191">Ev Temizliği Fiyatları</a></li>
      <li><a href="/fiyatlari/evden-eve-nakliyat_142">Evden Eve Nakliyat Fiyatları</a></li>
      <li><a href="/fiyatlari/boyaci-boya-badana-ustasi_32">Boya Badana Fiyatları</a></li>
      <li><a href="/fiyatlari/online-psikolog_515">Online Psikolog Fiyatları</a></li>
      <li><a href="/fiyatlari/ingilizce-ozel-ders_64">İngilizce Özel Ders Fiyatları</a></li>
    </ul>
  </div>
            <div class="col-xs-6 col-sm-3">
                <h5 class="footer-title">Bize Ulaşmak İçin</h5>
                <ul>
                    <li><a href="mailto:destek@armut.com">destek@armut.com</a></li>
                    
                </ul>
                <a href="https://armut.com/profesyonel-uye-ol" class="hizmet-ver hidden-xs">HİZMET VER</a>
            </div>
            <div class="col-xs-12 visible-xs " id="footer-col-5">
                <a href="https://armut.com/profesyonel-uye-ol" class="hizmet-ver">HİZMET VER</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 copyright">
                <p>
                    <a href="https://armut.com" style="background-image: url('https://cdn.armut.com/images/armut-logo-footer.png') !important" class="logo"></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="footer-info">
                    © 2011 -
                        <span id="ucFooter_lblYil">2023</span>
                    Armut Teknoloji AŞ, Tüm Hakları Saklıdır
                </p>
            </div>
            <div class="col-xs-6 col-sm-3">
                <span><a class="footer-link" href='https://kullanicisozlesmesi.armut.com' rel="nofollow">Kullanıcı Sözleşmesi</a> · <a class="footer-link" href='https://info.armut.com/gizlilik' rel="nofollow">Gizlilik ve Kişisel Verilerin Korunması Politikası</a></span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="social">
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/armutcom" target="_blank" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li><a href="https://instagram.com/armutcom" target="_blank" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://youtube.com/armut" target="_blank" aria-label="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
<li><a href="https://twitter.com/armutcom" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li><a href="https://pinterest.com/armut/" target="_blank" aria-label="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
    </form>
    <!-- Twitter universal website tag code 
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('nuxqv', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
    <noscript>
        <img height="1" width="1" style="display: none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nuxqv&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
        <img height="1" width="1" style="display: none;" alt="" src="//t.co/i/adsct?txn_id=nuxqv&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    </noscript>
     End Twitter universal website tag code -->


    

<input type="hidden" id="sentinelSessionId" value='ccoabf2ubfohjjpyt3sjya3i' />
<input type="hidden" id="sentinelScreenName" value='ServiceGroups' />
<input type="hidden" id="sentinelApiUrl" value='https://sentinelapi.armut.com/' />
<input type="hidden" id="sentinelPrincipal" value='' />
<script type="text/javascript" src="https://cdn.armut.com/assets/dist/scripts/sentinel.min.js?version=1.4.0.246-Live"></script>

<script>
    
    var ck = document.cookie.split(';')
        .map(function(k) {
            var pair = k.split('=');
            return { key: pair[0].trim(), value: pair.slice(1).join('=').trim() }
        });
    
    ck.filter(function(c){ 
        return c.key.indexOf('_mi-ex_') === 0; 
    })
    .map(function(c){ 
        return c.key;
    })
    .forEach(function(key) {
        document.cookie = key.replace('_mi-ex_','')+'=0;expires='+(new Date(0)).toUTCString();
    });
</script>
</body>
</html>
